<div class="left">
    <img id="logo" src="../img/valueShark.png" alt="logo">
</div>
<div class="right">
    <div class="topnav" id="myTopnav">
        <a href="/home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="/about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>    
</div>



