<!-- Add a for each when we get the database setup to render the whole portfolio -->
<!-- Add crud operations to remove stocks -->
<!-- Add the ability to see the details of a stock -->

<aside id="portfolio-bar">
  <h1>My Portfolio</h1>
  <hr>
  <script>
  userStock.forEach(renderResult)
    </script>
</aside>





// <!-- <a class="portfolio-item" href="#"><span> MSFT - </span>Microsoft Corporation <i class="far fa-plus-square"></i> <i class="far fa-minus-square"></i></a>
// <a class="portfolio-item" href="#"><span> APPL - </span>Apple Inc. <i class="far fa-plus-square"></i> <i class="far fa-minus-square"></i></a>
// <a class="portfolio-item" href="#"><span> FB - </span>Facebook Inc. <i class="far fa-plus-square"></i> <i class="far fa-minus-square"></i></a>
// <a class="portfolio-item" href="#"><span> GOOGL - </span>Alphabet Inc. <i class="far fa-plus-square"></i> <i class="far fa-minus-square"></i></a>
// <a class="portfolio-item" href="#"><span> AMZN - </span>Amazon.com Inc. <i class="far fa-plus-square"></i> <i class="far fa-minus-square"></i></a> -->