<div id="newSearch">
  <form action="/search" method="POST">
    <label for="stock"> Search a Stock
      <input type="text" name="stock" required>
    </label>
    <button type="submit">Search</button>
  </form>

</div>