<form id="new-search" action="/search" method="POST">
  <input type='hidden' name='userID' value='<%= userID %>'>
  <input id='search-symbol' type="text" name="symbolField" placeholder="Enter a ticker symbol (MSFT, AMZN)..." required>
  <input id="search-btn" type='submit' name='submit' value='Search'>
</form>
