<div id="newSearch">
  <form id="new-search" action="/search" method="POST">
    <label for="stock"> Search a Stock
      <input type="text" name="symbolField" required>
    </label>
    <button type="submit">Search</button>
  </form>
</div>