<div id="newSearch">
    <form id="new-search" action="/search" method="POST">
      <label for="stock">
        <input type="text" name="symbolField" placeholder="Enter a ticker symbol (MSFT, AMZN)..." required>
      </label>
      <button id="search-btn" type="submit"><i class="fas fa-search-dollar"></i> Search</button>
    </form>
  </div>



