<div>
  <form id="new-search" action="/search" method="POST">
    <label for="stock"> Search a Stock
      <input type='hidden' name='userID' value='ebdbe772-3dce-5561-aa04-6f83eaf5da57'>>
      <input type="text" name="symbolField" placeholder="Enter a ticker symbol (MSFT, AMZN)..." required>
    </label>
    <input id="search-btn" type='submit' name='submit' value='Submit'>
  </form>
</div>
