    <%- include('../partials/head'); -%>
 <div id="table">
<table>
  <tr>
    <th>Name</th>
    <th>Ticker</th>
    <th>Price</th>
    <th>P/E</th>
    <th>PEG</th>
    <th>beta</th>
    <th>Profit Margin</th>
    <th>PB</th>
    <th>Market Cap</th>
  </tr>
  
    </tr> 
</table>
</div>