    <%- include('../partials/head'); -%>
 <div id="table">
<table>
  <tr>
    <th>Name</th>
    <th>Ticker</th>
    <th>URL</th>
  </tr>
  <tr>
    <td>Amazon</td>
    <td>AMZN</td>
    <td>amazon.com</td>
  </tr>
  <tr>
    <td>Microsoft</td>
    <td>MSFT</td>
    <td>microsoft.com</td>
  </tr>
  <tr>
    <td>Facebook</td>
    <td>FB</td>
    <td>facebook.com</td>
  </tr>
  <tr>
    <td>Google</td>
    <td>GOOGL</td>
    <td>google.com</td>
  </tr>
  <tr>
    <td>Apple</td>
    <td>APPL</td>
    <td>apple.com</td>
  </tr>
</table>
</div>
