<%- include('header'); -%>


<%- include('partials/searchbar'); -%>
<h1>This is the homepage</h1>
<div id="searchResults">
  <!-- for each result render the data -->
<ul id="renderedResult">
  <li></li>
</ul>
</div>

<%- include('footer'); -%>
