.aside {
  height: 600PX;
  display: flex;
  z-index: 1; 
}
#portfolio-bar {
  background-color: rgb(10,9,111);
  color: white;
}
hr {
  margin: 0;
}

#portfolio-bar a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#portfolio-bar h1 {
  font-size: 1.5em;
  background-color:  rgba(255, 255, 255, 0.3);
  padding: 20px;
}
.portfolio-item {
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#portfolio-bar a:hover {
  color: #f1f1f1;
}
.far {
  float: right;
  margin-left: 10px;
}

table {
  font-family: 'Roboto Condensed', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid rgb(10,9,111);
  text-align: left;
  padding: 8px;
}
th {
  font-family: 'Roboto', sans-serif;
}

tr:nth-child(1) {
  background-color:rgb(84,83,155);
  color: white;
}