* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  height: 100vh;
}
.main {
  width: 760px;
  height: 100vh;
  padding: 15px;
}
#porfolio-bar {
  padding-top: 30px;
  width: 260px;
}

@media all and (max-width: 600px) {
  .wrapper{
    overflow: hidden;
    overflow: scroll;
    height: 100vh;
    width: 100%;
    color: honeydew;
    font-size: 20;
  }
  #about{
    display: flex;
    color: honeydew;
    font-size: 20;
    justify-self:  right;
  }
  .aside { 
    flex: 1 0 0;
    width: 100%; 
  }
  #searchResults {
    order: 1;
    height: auto;
    padding: 20px;
  }
  .portfolio-item {
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
  }
  .wrapper > * {
    padding: 0px;
    flex: 1 100%;
  }
  .main {
    height: 100vh;
    order: 2;
  }
  header {
    height: auto;
  }
  footer  { 
    order: 4; 
    bottom: 0;
  }
}

@media all and (min-width: 768px) {
  .main    { flex: 3 0px; }
  #portfolio-bar { order: 1; } 
  .main    { order: 2; }
  footer  { order: 4; }
  input {
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: none;

  }
}
footer {
  height: 90px;
  background-color: rgb(10,9,111);
  color: white;
}
  /* searchbar/logo*/
header {
    /* display: flex; */
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(10,9,111);
    text-align: center;
    height: 90px;
    width: 100%;
  }
img { 
    height: 90px;
    width: auto;
}

#newSearch {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(10,9,111);
  text-align: center;
  padding: 20px;
  width: 100%;
}
  /* portfolio sidebar */
.portfolio-item {
    background-color: rgb(10,9,111);
    display: flex;
    align-items: flex-start;
    width: auto;
    padding: 30px;
}
/* search view/table data */
/* #searchResults {
  /* background-color: rgb(250, 248, 116);
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  display: flex;
  width: 760px;
  height: 80vh;
} */


footer {
  background-color: rgb(10,9,111);
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  border-top: 0px;
  align-items: center;
  justify-content: center;
}
button{
  background: #2b303b;
  border: none;
  font-size: 14pt;
  color: white;
  padding: 15px;
  border-radius: 4px;
}
label {
  color: white;
}

#linkedin{
  height: 20px;
  width: 80px;
}
.about{
  border: rgb(10, 9, 111) 1px solid;
  width: 50%;
  padding: 10px;
}