<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<div>


    <img class="people" src="../img/jerica.jpg" alt="Jerica">


    <p class=About>My name is Jerica Mitchell and I am a software developer. I am originally from Texas. I have my
        bachelor’s degree in computer science and many of my courses focused on cybersecurity and infrastructure. I have
        worked as an IT contractor for the past 7 years. I managed client machines and ensured that they were properly
        set up, maintained, and secured. Also, I gained great insight into how both technical and non-technical users
        interact with software.
        My goal is to obtain a position as a software developer. I’m looking for a great tech company where I can be an
        asset while advancing my career. I want to make an impact and effect positive change. Finally, I am passionate
        about helping others, so I want to use my platform to create opportunities for others. In my spare time, I like
        to do lots of stuff and things.</br></br>
        <a class="github-button" href="https://github.com/jericam832" aria-label="Follow @jericam832 on GitHub">Follow
            @jericam832</a>
        <a href='https://www.linkedin.com/in/jericamitchell1/'>
            <img id="linkedin" alt="linkedin" src="../../img/LI-logo.png">
         </a>
    </p>
    
</div>
<div class= about>
        <img class="people" src="../img/tyler.jpg" alt="Tyler"></br></br>
        <p class=About>Hello, I'm Tyler and I'm a Software Developer, I have 6 year of Military Law Enforcement experience. My goal is
            put myself situation that make me uncomfortable, doing this will help me continue to grow and make a difference with the knowledge I'm gaining from learning new things about devloping software on a daily basis. I want to continue to better myself in this field so that one day I can make a difference in the company I join.
            that one day I will be able to make a difference with the job I do.</br> </br>
            <a class="github-button" href="https://github.com/IntensiveLearning94"
                aria-label="Follow @IntensiveLearning94 on GitHub">Follow
                @IntensiveLearning94</a>
            <a href='https://www.linkedin.com/in/tyler-lawson-8920ab170/'>
                <img id="linkedin" alt="linkedin" src="../../img/LI-logo.png">
             </a>
        </p>
    </div>
<div class= about>
    <img class="people" src="../img/amy.jpg" alt="Amy">

</br></br>
    <p>Hello, my name is Amy Evans, I am a software developer, with a background in marketing. In my free time I binge watch Bravo Reality TV and eat Tootsie Rolls by the pound.</br></br>
        <a class="github-button" href="https://github.com/AmyE29" aria-label="Follow @AmyE29 on GitHub">Follow
            @AmyE29</a>
        <a href='https://www.linkedin.com/in/amyevans29/'>
            <img id="linkedin" alt="linkedin" src="../../img/LI-logo.png">
         </a>

    </p>
</div>

<div class= about>
    <img class="people" src="../img/Chase.jpg" alt="Chase"></br></br>
    <p class=About>Hello, I'm Chase! Your imagination is the limit. I build web applications and other tools that change
        the lives of individuals and businesses alike. Broadcast your brand, solve challenging problems, create
        relationships, or sell more widgets with my expertise.</br></br>
        <a class="github-button" href="https://github.com/tuckerc" aria-label="Follow @tuckerc on GitHub">Follow
            @tuckerc</a>
        <a href='https://www.linkedin.com/in/chaseatucker/'>
            <img id="linkedin" alt="linkedin" src="../../img/LI-logo.png">
         </a>
    </p>
</div>

    <img class="people" src="../img/tyler.jpg" alt="Tyler">
    <p class=About>Hello, I'm Tyler and I'm a Software Developer, I have 6 years of Law Enforcement experience within
        the militaru. My goal is
        to continue to push myself, I enjoy being in uncomfortable situations because that's the only way you can really
        grow. With the use of the skills I continue to build upon in developing software I thrive knowing
        that one day I will be able to make a difference with the job I do.
        <a class="github-button" href="https://github.com/IntensiveLearning94"
            aria-label="Follow @IntensiveLearning94 on GitHub">Follow
            @IntensiveLearning94</a> </br>
        <a href='https://www.linkedin.com/in/tyler-lawson-8920ab170/'><button class=linkedin>linkedin</button></a>
    </p>

</div>

<%- include('../partials/footer'); -%>