<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<div class="main">
  <div id="loginForm">
    <!-- login form -->
    <h2>Please enter your name</h2>
    <form id='loginForm' action='/' method='post'>
      <label for='name'>Name<input type='text' name='name' required></label>
    </form>
  </div>
</div>


<%- include('../partials/footer'); -%>
