<%- include('../partials/head'); -%>

<body>
  <header>
    <%- include('../partials/header'); -%>
  </header>
  <main>
    <div id="loginForm">
      <!-- login form -->
      <form id='loginForm' action='/' method='post'>
        <label id='nameLabel' for='name'> Please enter your name
          <input id='loginName' type='text' name='name' placeholder="Enter your name" required>
        </label>
        <input id="nameButton" type='submit' name='submit' value='Submit'>
      </form>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); -%>
  </footer>
</body>
